body {background-color: #777;
font-family: Arial, Helvetica, sans-serif;
width: 960px;
font-size: 18px}


header {text-align: center;
color: black;
background-color: #777;}

#headerbox {width: 150; height: 65;
float: center;}


#navbox { text-align: center;
    margin: 30px 50px 30px 50px
    width: 150px;
    height: 65px;
    background-color: gainsboro;
    float:center;
}

#divtag {height: 30px;}

#aside {float: right;
padding left: 15%;}
#asidediv {}

#sidebox {float: left;}

#sidediv {height: 30;
width: 50px;
float right: ;}
footer {background-color: gainsboro;
text-align: center}

#h3 {background-color: #777}